# This is a demo workflow for the build step

name: build

on:
  workflow_dispatch:
    inputs:
      release_cut_id:
        description: "Database ID of release cut"
        required: false
        type: string
      commit_sha:
        description: "Commit SHA, branch name, or tag of the HEAD to be built"
        required: false
        type: string
      version:
        description: "Name of the version"
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Print the inputs
        run: |
          echo "Inputs:"
          echo "deployment_id=${{ inputs.release_cut_id }}"
          echo "commit_sha=${{ inputs.commit_sha }}"
          echo "version=${{ inputs.version }}"

      # Checks-out your repository
      - uses: actions/checkout@v4
        with:
          ref: "${{ inputs.commit_sha }}"
          lfs: true
          submodules: 'recursive'
          
      - name: Sync IDs via Aviator API
        uses: fjogeleit/http-request-action@v1
        with:
          url: 'https://api.aviator.co/api/v1/sync-build-github-action'
          method: 'POST'
          bearerToken: ${{ secrets.AVIATOR_API_TOKEN }}
          data: '{"release_cut_id": "${{ inputs.release_cut_id }}", "workflow_run_id": "${{ github.run_id }}"}'
          
      - name: Wait for 60s or until canceled
        shell: bash
        run: |
          sleep 60

      - if: ${{ success() }}
        name: git_tagging
        run: |
          git tag --force ${{ inputs.version }}
          git push origin --force ${{ inputs.version }}
